{% extends "main_deslogado.html" %} {% load static %} {% block content %}


<div class="text-center mt-5">
    <h2 class="h2 font-weight-bold">WALTER PEREIRA DA SILVA LIRA</h2>
    <a href="mailto:waltersilva123454@gmail.com">
        <h2 class="h2 font-weight-bold hvr-grow">waltersilva123454@gmail.com</h2>
    </a>
</div>
<div class="d-flex justify-content-center hvr-grow">
    <div class="border rounded bg-dark col-6" id="github">
        <img class="img-fluid col-2 float-left" src="{% static 'app/img/icons/github.png' %}">
        <h2 class="text-light">GITHUB</h2>
        <a class="h1 text-primary" href="https://github.com/waltersilva5">https://github.com/waltersilva5</a>
    </div>
</div>
<div class="d-flex justify-content-center hvr-grow">
    <div class="border rounded bg-dark col-6" id="github">
        <img class="img-fluid col-2 float-left" src="{% static 'app/img/icons/linkedin.png' %}">
        <h2 class="text-light">LINKEDIN</h2>
        <a class="h1 text-primary" href="https://github.com/waltersilva5">https://github.com/waltersilva5</a>
    </div>
</div>
<script src="{% static 'app/js/index.js' %}"></script>
{% endblock content %}